body {
  background-color: #eee;;
}

.loading {
  display: flex;
  height: calc(100vh - 60px);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 14px;
    color: #364563;
    text-align: center;
    padding-bottom: 10px;
  }

  .loadingBar {
    border: 3px solid hsla(185, 6%, 37%, 0.2);
    border-top-color: #364563;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

.container {
  display: flex;
  justify-content: center;
}

.moviesWrap {
  padding: 30px;
}
.moviesTitle {
  margin: 0;
  padding: 0;
}

.movies {
  display: grid;
  grid-template-columns: 450px 450px;
  column-gap: 50px;
  row-gap: 50px;
  padding: 50px;
  justify-content: center;


  div {
    position: relative;
    padding: 30px 30px 20px 130px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    img {
      position: absolute;
      top: -20px;
      left: 10px;
      width: 100px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  
    h2 {
      padding: 0;
      margin: 0;
      a {
        font-size: 18px;
        color: black;
        text-decoration: none;
        line-height: 30px;
      }
    }

    h4 {
      font-size: 12px;
      font-weight: 300;
      margin: 10px 0 0;
      padding: 0;
    }

    p {
      font-size: 14px;
    }

    ul {
      display: grid;
      padding: 0;
      grid-template-columns: repeat(4, 70px);
      row-gap: 10px;

      li {
        font-size: 12px;
        list-style: none;
        padding-right: 20px;
      }
    }
  }
}